* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

navbar {
    display: flex;
    align-items: center;
    height: 70px;
    border: 2px solid black;
    padding-left: 30px;
    border-radius: 12px;
    margin: 40px 50px;
}

navbar h1 {
    font-weight: lighter;
    font-size: 20px;
}
