* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

navbar {
    display: flex;
    align-items: center;
    height: 70px;
    border: 2px solid black;
    padding-left: 30px;
    border-radius: 12px;
    margin: 40px 50px;
}

navbar h1 {
    font-weight: lighter;
    font-size: 20px;
}

main {
    display: flex;
    justify-content: center;
    margin: 40px 50px;
}

section {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.upper-container {
    display: flex;
    width: 100%;
    font-size: 20px;
    color: #939393;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.job-container {
    width: 100%;
}

.count {
    color: black;
}

.clear-btn,
.add-job-btn {
    font-size: 18px;
    background: none;
    border-radius: 8px;
    border: 2px solid black;
    padding: 8px 20px;
}

.job-item {
    border: 2px solid black;
    margin-top: 30px;
    padding: 25px 20px;
}

.job-item p,
.job-item time {
    color: #939393;
    display: block;
    margin-top: 15px;
}

.bottom-jobItem-container {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}

a {
    color: black;
}

navbar a {
    text-decoration: none;
}
