* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

navbar {
    display: flex;
    align-items: center;
    height: 70px;
    border: 2px solid black;
    padding-left: 30px;
    border-radius: 12px;
    margin: 40px 50px;
}

navbar h1 {
    font-weight: lighter;
    font-size: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 86px 0px;
}

main h1 {
    font-size: 64px;
    color: #6F62FF;
    margin-bottom: 40px;
}

main p {
    font-size: 24px;
    width: 700px;
    text-align: center;
    margin-bottom: 40px;
}

main button {
    width: 180px;
    height: 50px;
    background-color: black;
    color: white;
    border: none;
    padding-bottom: 8px;
    padding-left: 5px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

span {
    font-size: 30px;
}

.feature-container {
    display: flex;
    width: 1070px;
    align-items: center;
    justify-content: space-between;
    margin: 120px 0px;
}

.feature-card {
    border: 2px solid black;
    width: 326px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    border-radius: 20px;
    justify-content: space-between;
}

.feature-heading {
    font-size: 20px;
    width: 200px;
    margin-bottom: 0px;
    padding: 10px;
}

.feature-para {
    font-size: 15px;
    width: 240px;
    color: #818181;
}

.img-container {
    padding: 12px;
    border-radius: 66px;
    background-color: #FFE9CB;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.img-container img {
    height: 40px;
}

main h2 {
    font-size: 48px;
}










