* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

navbar {
    display: flex;
    align-items: center;
    height: 70px;
    border: 2px solid black;
    padding-left: 30px;
    border-radius: 12px;
    margin: 40px 50px;
}

navbar h1 {
    font-weight: lighter;
    font-size: 20px;
}

main {
    display: flex;
    height: 260px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 86px 0px;
}

main h1 {
    font-size: 64px;
    color: #6F62FF;
}

main p {
    font-size: 24px;
    width: 700px;
    text-align: center;
}

main button {
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;
    border: none;
    padding-bottom: 5px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

span {
    font-size: 30px;
}
















