* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

navbar {
    display: flex;
    width: 1200px;
    align-items: center;
    height: 70px;
    border: 2px solid black;
    padding-left: 30px;
    border-radius: 12px;
    margin: 40px 0px;
}

navbar h1 {
    font-weight: lighter;
    font-size: 20px;
}

main {
    height: 520px;
    width: 1220px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h2 {
    font-size: 24px;
    font-weight: lighter;
    border-bottom: 2px solid black;
    display: inline;
    margin: 60px;
}

.form-field {
    font-size: 20px;
    margin: 10px 0px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.form-field input {
    width: 670px;
    font-size: 18px;
    padding: 10px;
}

form button {
    font-size: 18px;
    background: none;
    border-radius: 8px;
    border: 2px solid black;
    padding: 8px 20px;
}

.btn-container {
    display: flex;
    margin-top: 40px;
    justify-content: flex-end;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  transform: scale(1.4);
  border: 1px solid black;
  border-radius: 6px;
}
